PROJECTD_KEYAUTH_ENABLED=false
PROJECTD_KEYAUTH_API_BASE=https://keyauth.win/api/1.3/
PROJECTD_KEYAUTH_APP_NAME=
PROJECTD_KEYAUTH_OWNER_ID=
PROJECTD_KEYAUTH_APP_SECRET=
PROJECTD_KEYAUTH_LICENSE_KEY=
PROJECTD_KEYAUTH_HARDWARE_ID=
